extends layouts/master.pug

block content
  section.section.grengil-title
    div.columns
      div.column.has-text-centered.is-half.is-offset-one-quarter
        h1.title GrengilBot
        h2.subtitle A simple Discord music bot, powered by <strong>friendship</strong>
        p.control.has-icon.has-icon-right
          form(action="/search" method="get")
            input.input(type="text" name="search" placeholder="Search YouTube")


  div.container.result-container
    if items
      each video in items
        - video = video.snippet

          div.box.youtube-result
            div.columns
              div.column.is-2
                figure.image.is-1by2
                  img.rounded.soft-shadow(src=video.thumbnails.medium.url alt="Image")
              div.column.is-10
                h1.title=video.title
                h2.subtitle=video.duration

      nav.level
        div.level-left
        div.level-right
          form(action="/search" method="get")
            input(name="search" type="hidden" value=prevSearch)
            if prevPageToken
              button.level-item.button.is-primary.is-large(name="pageToken" type="submit" value=prevPageToken) Previous Page
            if nextPageToken
              button.level-item.button.is-primary.is-large(name="pageToken" type="submit" value=nextPageToken) Next Page
