extends layouts/master.pug

block content
  section.section
    div.columns
      div.column.has-text-centered.is-half.is-offset-one-quarter
        h1.title GrengilBot
        h2.subtitle A simple Discord music bot, powered by <strong>friendship</strong>
        p.control.has-icon.has-icon-right
          form(action="/search" method="get")
            input.input(type="text" name="search" placeholder="Search YouTube")
    hr

  div.container
    if search
      each video in search
        - video = video.snippet
          div.box.youtube-result
            div.columns.flex-vcenter
              div.column
                figure.image.is-1by2.mobile-pad
                  img.rounded(src=video.thumbnails.medium.url alt="Image")
              div.column.is-three-quarters
                h1.title=video.title
                h2.subtitle=video.description
    if pageToken
      form(action="/search" method="get")
        button.button.is-primary(name="pageToken" type="submit" value=pageToken) Next Page
        input(name="search" type="text" value=prevSearch)
